[2014-11-21 23:41] mnneely opened #5 "Make better display of posterior parameter values"

[2015-02-03 17:18] mnneely commented on #5
Added this function to 1.3.2 with $postPoints added to PMfinal object, and plot method when prob~param used as formula in plot.PMfinal.

[2015-02-03 17:18] #5 closed

[2020-04-14 15:36] mnneely opened #2 "NA in parameter value table"
Discovered by a user.

[2020-04-14 21:36] Siel opened #4 "Check and update gfortran version"
Pmetrics needs a function to check and potentially update gfortran, independently of the OS.

[2020-04-15 21:56] #2 closed, assigned to nobody

[2020-04-27 08:15] Sabryr opened #6 "When using ifort on unix, correct syntax for syntax-only"
According to :
https://software.intel.com/en-us/fortran-compiler-developer-guide-and-reference-syntax-only
Linux and macOS:  -syntax-only
Windows: | /syntax-only

In the R file: PMutilities.R
The Windows version is included and this make it fail on Centos6.8
if (length(grep("ifort", fortran) > 0)) { syntaxcheck <- paste(fortran, "/syntax-only", modelFor) }

So I sugest:
 if (length(grep("ifort", f

[2020-04-29 19:55] Siel commented on #6
The suggested solution will be released on the next version of Pmetrics, Thanks!

[2020-04-29 19:55] #6 closed, assigned to nobody

[2020-05-08 20:46] mnneely opened #8 "SIMparse broken in R 4.0.0"
Freezes with parallel processing of multiple simulated files

[2020-05-08 20:48] mnneely commented on #8
Issue was with makeCluster() function.  Now freezing in Rstudio only.  Applied patch to set timeout to 0.5, as in this post: https://github.com/rstudio/rstudio/issues/6692#issue-602713262.  Verified it works and merged with master.

[2020-05-08 20:48] #8 closed, assigned to nobody

[2020-05-10 14:35] mnneely opened #9 "makeValid does not work with EIVD=4"
Discovered by Anders Asberg

[2020-05-13 18:59] Siel opened #10 "Problem with PMreport"
fitting a simple model got this:

`
Saving R data objects to /home/siel/WrkSpace/R/Pmetrics/2/outputs......

Use PMload() to load them.

The following objects have been saved:

NPdata: All output from NPAG
pop: Population predictions at regular, frequent intervals
post: Posterior predictions at regular, frequent inteverals
final: Final cycle parameters and summary statistics
cycle: Cycle informati

[2020-05-22 18:05] jjliupharmd opened #11 "PMpost object incorrectly generated"
I have experienced some issues with plotting mdata (predicted conc.) in the new Pmetrics 1.9.3.

Essentially, I noticed that the post.xx lists generated were different despite using the same data and model file across 2 versions of Pmetrics (1.5.2 vs. 1.9.3),

As you can see in the attached screen capture, the post object generated in 1.9.3 has mean and median predicted levels specifically at obse

[2020-05-22 21:44] mnneely commented on #11
This probably has to do with conversion from deprecated functions to tidyverse.  Will look into it.

[2020-05-27 21:32] mnneely commented on #11
@jjliupharmd Can you upload the NPAGout.Rdata file so I can test the code on your output?

[2020-05-27 21:41] jjliupharmd commented on #11
Oops... sorry closed your comment by accident.  I am new to this GUI still.

I have attached the .rdata file here.  I saw that this prob persists in 1.9.4.

Self note: this is my run 999 in temp folder.
[NPAGout.zip](https://github.com/LAPKB/Pmetrics/files/4691981/NPAGout.zip)

[2020-05-27 21:48] mnneely commented on #11
Thanks.  I forgot to ask for the PRTB0001 file as well.  It will also be in the output folder.

[2020-05-27 22:01] jjliupharmd commented on #11
[outputs.zip](https://github.com/LAPKB/Pmetrics/files/4692075/outputs.zip) I am attaching both in the .zip file now.  Thx!

[2020-05-27 22:23] mnneely commented on #11
Hmm, I think I fixed a bug, but I'm not even getting any of the same numbers as in your screen shot for 1.5.3.  In the files you sent me, there is no prediction equal to 51.979 (the second row on 1.5.3  version) or even rounded to 52.  Same for 85.729.  Can you verify that you are using the exact same output files?

In contrast, in the files you sent, I can find the predictions you show in 1.9.3,

[2020-05-28 01:14] jjliupharmd commented on #11
I noticed that too early on... and I am repeating the same run I did on 5/22 two more times now with the same files..  Will follow up.

[2020-05-28 03:16] jjliupharmd commented on #11
Unfortunately, I might have had the files mixed up in the testing folder.  But it looks like all 3 runs (1 from 5/22 and 2 from today) check out! @mnneely
![Capture](https://user-images.githubusercontent.com/65783440/83094575-9af45180-a067-11ea-9a96-de6f931f0672.PNG)

[2020-05-28 07:57] mhovd opened #12 "Segmentation fault on finished run"
This is an issue that I have had over the last couple of days, following upgrading to 1.9.4 on MacOS 15.4 (now 15.5). The issue might also have been present on 1.9.3.

[code]

The run is done on my MacBook, but the project directory is on an OSXFUSE SSHFS network volume, which works nicely most of the time. The error happens after the run converges and finishes, and after printing the estimates fo

[2020-05-28 20:36] mnneely commented on #11
So is your problem resolved?  I also get the same values at 48 hours from the files you sent.  The bug I found was related to data with >1 output, so not relevant to your problem.  If it is resolved, I'll close the issue.  Thanks!

[2020-05-28 20:40] jjliupharmd commented on #11
Yup! Resolved.  I think can close now.

p.s. no hurry, but will there be an incremental update/fix for the PMpost object?

[2020-05-29 15:02] aasberg opened #13 "Predictions at non-concentration times do not load into R?"
Following a run with a complex model I only get predicted concentrations at the time of measured concentrations and not every 0.2 hours as according to NPrun(..., idelta=12). The predictions are present in the PRTB0001 file, but dose not appear in the post.4 file in R or when plotting individual plots; plot(mdata.4, pred=post.4, ...).

[2020-05-29 16:03] mnneely commented on #11
Ummm, I'm not sure how to understand your comment.  We were working on PMpost in this issue and you just said it was resolved.

[2020-05-29 16:05] mnneely commented on #13
Will look into that.  The predictions in the post.x object should be at observation times and regular intervals governed by the idelta argument to NPrun(), which is 12 by default, i.e. predictions every 12 minutes or 5 per hour.

[2020-05-29 16:27] jjliupharmd commented on #11
Sorry for not being clear.  When I said it was resolved because I was finally able to generate the same posterior-predicted concentration values across runs (since I may have used different data files in my original post, thus different numbers in the PMpost object in my original screenshot and orginally attached files).  But this was secondary to my post.

My question is that if there will be a n

[2020-05-29 17:01] Siel commented on #12
Are you getting that error with with simpler models also? what I see is that is a problem generating the html report.

[2020-05-29 18:17] mnneely commented on #11
OK, can you reinstall Pmetrics and try again?  It seems to be working ok on my end.
In Rstudio, use the following:

`devtools::install_github("LAPKB/Pmetrics")`

[2020-05-29 18:21] mnneely commented on #13
Can you reinstall Pmetrics try again? It seems to be working ok on my end.
In Rstudio, use the following:

`devtools::install_github("LAPKB/Pmetrics")`

[2020-05-29 18:27] mhovd commented on #12
On further inspection, this seems to be a model-specific issue, as other models run just fine.
Additionally, the error is not present for some sets of boundaries, as I am able to run a previous version of it. Larger boundaries seem fine, but reducing them seems to cause the issue.

In OUTT0001, the file is cutoff halfway in writing the correlation matrix.

[2020-05-29 18:33] mnneely commented on #12
I see this error now only when a run crashes.  If you look carefully at the Terminal/DOS window (scrolling up), you might find more information about the error associated with the smaller boundaries.

[2020-05-29 18:43] #4 closed, assigned to Siel

[2020-05-29 18:43] #10 closed, assigned to Siel

[2020-05-29 19:00] jjliupharmd commented on #11
I think I have encountered a windows specific problem.  I have manually removed the package folder (dplyr) multiple times and reinstalling and kept having the same Rd warning.  Even re-installed the devtools along with rlang to make sure they are not at fault.

Just a snapshot of the example error message:

_Rd warning: C:/Users/Jiajun Liu/AppData/Local/Temp/RtmpUzMXVM/R.INSTALL497c2662749a/dplyr/

[2020-05-29 20:36] jjliupharmd commented on #11
After multiple iterations of testing dplyr packages... I finally reinstalled the dplyr ver. 0.8.2 (oldest version supported by Pmetrics) and then re-installed devtools.  After that, used the code you provided  to install 1.9.4 branch.  The output of PMpost is now correct!  I attached the posterior output for reference.

At this point, I am really unclear if it's the newest dplyr package that's cau

[2020-05-29 20:42] mnneely commented on #11
Sorry for all the trouble.  I'm running dplyr 0.8.5 if that helps.  I'll mark this as closed, but we can always reopen if needed.  The current release is 1.9.5 now.

[2020-05-29 20:42] #11 closed, assigned to nobody

[2020-05-29 20:43] jjliupharmd commented on #11
No prob. Thx Michael!

[2020-05-30 19:59] aasberg commented on #13
Nope…. did not solve it I am afraid!

/Anders

[2020-06-02 08:08] mhovd commented on #12
I couldn't find anything out of the ordinary in the terminal output.
Nevertheless, I've attached it here, in case you see something that I've missed. Cycles removed due to size.
[run_output.txt](https://github.com/LAPKB/Pmetrics/files/4715678/run_output.txt)

[2020-06-02 08:45] aasberg opened #15 "Error: object ‘as.tbl_cube’ is not exported by 'namespace:dplyr'"
Trying to install Pmetrics on an iMac using:
devtools::install_github("LAPKB/Pmetrics")

and then gets this error:
Error: object ‘as.tbl_cube’ is not exported by 'namespace:dplyr'

Worked fine on my MacBook Pro.....

[2020-06-02 09:21] mhovd commented on #15
I get this error as well, on both Mac and Windows. This seems to be due to `dplyr 1.0.0` [changelog](https://dplyr.tidyverse.org/news/index.html), where `tbl_cube` was removed to a different package. Installing `dplyr 0.8.2` might be a workaround.

EDIT: Manually installing `dplyr 0.8.2` and then getting the newest version of `PMetrics` from GitHub seems to work for now.

[2020-06-02 10:04] aasberg commented on #15
The workaround fixed the installation problem.

[2020-06-09 20:29] mnneely commented on #15
This was caused by the package author moving as.tbl_cube function from dplyr to a new package called cubelyr.  The problem is fixed in Pmetrics v1.9.6.

[2020-06-09 20:29] #15 closed, assigned to nobody

[2020-06-09 20:33] mnneely commented on #12
It seems like it was a problem with subject 5.  The program crashed trying to report statistics for the posterior distribution of parameter SC.  If the problem is specific to a particular model or parameter range, while vexing, indicates an inappropriate model for the data.  If you can get past this by adjusting ranges, it isn't a bug, but perhaps we can improve error reporting!

[2020-06-09 20:35] mnneely commented on #13
I've just updated Pmetrics to 1.9.6 to deal with another bug related to a new version of dplyr.  Can you make sure you're running 1.9.6 and see if this works now? It is still working on my end.

[2020-06-10 06:46] aasberg commented on #13
The new version does not install. Also seems to have something with dplyr to do:

_Error: object ‘as.tbl_cube’ is not exported by 'namespace:dplyr'
Execution halted
ERROR: lazy loading failed for package ‘Pmetrics’
* removing ‘/Library/Frameworks/R.framework/Versions/4.0/Resources/library/Pmetrics’
Error: Failed to install 'Pmetrics' from GitHub:_

[2020-06-10 07:50] mhovd commented on #12
That definitely seems to be the case, as it is only an issue with that specific model that may also be resolved by increasing the boundaries.
Is there any reason why it would fail during the reporting, but not during cycling?
Either way, a more concise error would be much appreciated (even though it does say that PMreport was the call).

[2020-06-10 16:53] Siel commented on #13
I also got the same error
`
Error: object 'as.tbl_cube' is not exported by 'namespace:dplyr'
Execution halted
ERROR: lazy loading failed for package 'Pmetrics'
* removing 'C:/Users/siel/Documents/R/win-library/3.6/Pmetrics'
Error: Failed to install 'Pmetrics' from GitHub:
  (converted from warning) installation of package 'C:/Users/siel/AppData/Local/Temp/RtmpcdaTvM/file85a45a07407e/Pmetrics_1.9.6

[2020-06-10 17:19] Siel commented on #13
@aasberg I just uploaded a fix, try again please :)

[2020-06-10 17:32] mnneely commented on #13
Ah, the issue was that the Namespace file which controls package lookup for functions hadn't updated properly.  Let's hope Julian's fix now gets past this.

[2020-06-10 18:13] aasberg commented on #13
Thanks Julian! Pmetrics installed now. So good to have guys like you to fix these things so I can focus on using it ;)

However, the new version did not fix the post.x problem. I have to use the makePost(x) to get all predictions loaded for plotting.

[2020-06-10 18:25] Siel commented on #13
Thanks @aasberg but it was professor @mnneely's fix, I just polished it a little bit. 👍

[2020-06-10 19:44] #12 closed, assigned to nobody

[2020-06-10 19:59] mnneely commented on #13
I can't reproduce the error now Anders. v1.9.6 is running fine on my machine. As you can see from the screen shot, on run 6, using your input files on my machine, I get a prediction at time 0.17 and also 0, 0.2, 0.4, 0.6, 0.8,... hours as expected.

Just as a quick test, here's what I ran:
`NPrun(data = "mpadev.csv", model = "2c2gbe.txt", indpts = 3, cycles = 3)`

<img width="396" alt="image" src=

[2020-06-10 21:58] aasberg commented on #13
My wrong, IT WORKS :)
Thanks Michael!

[2020-06-10 22:01] mnneely commented on #13
Whew! :) Closing this issue!

[2020-06-10 22:01] #13 closed, assigned to mnneely

[2020-06-15 15:19] jjliupharmd opened #16 "makeNPDE in Pmetrics 1.9.5"
I have installed mclust and npde (2.0) on R (3.6.3) for VPC.  One error message that showed up during installation (using Tools menu for the local tar.gz file).
_* installing *source* package 'npde' ...
** package 'npde' successfully unpacked and MD5 sums checked
** using staged installation
** R
** data
*** moving datasets to lazyload DB
** byte-compile and prepare package for lazy loading
Note:

[2020-06-18 13:42] njrhodes opened #17 "PMmb2csv {Pmetrics} error"
I am attempting to use the PMmb2csv function but I get an error. The exe is generated along with a tempControl file, but the data.csv file is not created. Syntax below:

`PMmb2csv("JM_061720_NJR.mb2", newFile = "data")`

Here is my sessionInfo:

[2020-06-18 14:39] mhovd opened #18 "Unable to set custom Fortran statement using PMFortranConfig()"
When attempting to choose a custom Fortran compiler statement using PMFortranConfig, option 5, PMetrics automatically chooses the standard.
[code]
This is possibly due to the `if`-statement checking for `"5"` rather than `5`, but that is speculation from my side.
If a compiler is already set, it is not possible to do this using `PMFortranConfig(reconfig = TRUE)`, rather it must be manually changed

[2020-06-22 12:43] #16 closed, assigned to nobody

[2020-06-25 20:24] Siel commented on #18
Hi @mhovd My name is Julian and I'll try to help you solve this issue, right now given the new automatic dependency installation process gfortran is fixed as the compiler for the fortran source code. Can I now which compiler/flags are you trying to use? maybe we can flex a little bit this option to let you use the configuration that you need.

I'll be waiting for your comments, Thanks!

[2020-06-25 20:27] Siel commented on #17
Hi @njrhodes I would like to help you with this issue, can I have more information? like the current version of pmetrics you are using or maybe a portion of the source files to try to reproduce this behaviour on my end?

Thanks!

[2020-06-25 22:38] njrhodes commented on #17
hi @Siel. The version I use is 1.5.2 and I will zip you the problematic files.
[mb2csv.zip](https://github.com/LAPKB/Pmetrics/files/4834154/mb2csv.zip)

[2020-06-25 22:57] mnneely commented on #17
Hi @njrhodes,  This file format is actually .mb2, which was an old BestDose file format.  The function works only to convert .mb files.  I apologize for name confusion, but the function is meant to convey "MB to CSV" in the name, not "MB2 CSV".  We have no function to covert .mb2 files to Pmetrics.  Your best bet is to use the old Windows executable standalone BestDose, and Pastrx to open each .mb

[2020-06-25 22:57] #17 closed, assigned to Siel

[2020-06-25 23:19] njrhodes commented on #17
Hi @mnneely, No worries. thanks for taking a look.

I came up with a work around that produces a close to workable file, thought it needs manual cleaning still. This works for batch conversion too. LMK if interested, but here is the code. Maybe someone who is better at coding than me can turn it into a fully valid function for those of us with old mb2 files who would like to go back and use them f

[2020-06-26 09:34] mhovd commented on #18
Thanks, Julian!
I'm attempting to set the following compiler flags:
[code]
I am unable to do so using `PMFortranConfig(reconfig = TRUE)`, and instead have to do this by manually editing `FortConfig.txt`. Does `PMBuild()` read from this file each time, or are there any hardcoded compiler flags?

[2020-06-26 17:57] Siel commented on #18
Right now, the 'master' branch of pmetrics is harcoded to use the following compiler flags:
`
gfortran -m64 -w -O3 -o <exec> <files>
`
`
gfortran -O3 -w -fopenmp -fmax-stack-var-size=32768 -o <exec> <files>
`
Those flags have been fixed for some time because we've been working on an smoother user experience around gfortran for not experienced users. Do the default flags work for you? would you as

[2020-06-30 08:30] mhovd opened #19 "End run before max cycles or convergence on MacOS / Linux"
On Windows, one can run `CHMAXCYC.bat`, which allows the run to end on the next cycle.

Are there any equivalents to this on Mac/UNIX?
As far as I can see, running it only calls `COPY CHMAXCYC.NEW CHMAXCYC.OLD`.
Does PMetrics look for this file on each new cycle, which then initiates termination, or how does it work?

[2020-07-01 08:16] mhovd commented on #18
The default flags work, in the sense that I can run models without issue, and they work as expected.
However, in an effort to attempt to overcome the 2GB size limitation I would like to experiment with different compiler flags, such as the one I mentioned above.

Through support from UNINETT/Sigma2, we were able to overcome this limitation on a HPC-system, although there was a lot of tinkering inv

[2020-07-07 10:02] jbwoillard opened #20 "Issue with PMbuild()"
Dear Michael I try to update Pmetrics following the procedure described in the lapk website, I had to re-install Rtools40 but I have an error message when I am doing PMbuild()
[code]
'Pmetrics cannot find required compiled binary files.
Informationÿ: impossible de trouver des fichiers pour le(s) modŠle(s) sp‚cifi‚(s).
Pmetrics cannot detect gfortran and will attempt to download and install all com

[2020-07-07 21:27] Siel commented on #20
Hi @jbwoillard, it seems that it's a problem with the language since it can't find the .ps1 script file, are you using R studio? Can I have an screenshot of the input?

Thanks!

[2020-07-08 07:11] jbwoillard commented on #20
Thanks, yes I am using the last version of Rstudio1.3.959.
Here is the screenshot, it seems that there are french characters not recognized

![image](https://user-images.githubusercontent.com/63699950/86888688-e3893b00-c0fa-11ea-9176-2e69e5fac380.png)

[2020-07-09 21:51] Siel commented on #20
@jbwoillard yes, It's something with the language, could you try to execute this after loading pmetrics?

`system2("C:/Windows/System32/WindowsPowerShell/v1.0/powershell", args = c("-ExecutionPolicy","ByPass","-file", paste(system.file("", package = "Pmetrics"), "win/exec.ps1", sep = "/")), wait = T)`

This script should install gfortran for you.

Also, are you behind some kind of firewall? I just

[2020-07-09 21:52] Siel commented on #18
Ok, I'm going to start working on this.

[2020-07-13 09:38] mhovd commented on #19
After some light testing, it seems that this works on Mac/UNIX as well!
Not surprisingly, as it was hardcoded into the fortran code. Simply calling `cp CHMAXCYC.NEW CHMAXCYC.OLD` in the the appropriate run folder successfully ended the run early.

[2020-07-13 09:38] #19 closed, assigned to nobody

[2020-07-17 11:50] jbwoillard commented on #20
I still have a different issue on another computer when trying to install Pmetrics. Gfortran seems to have been installed successfully but when I press to continue, I had an error.
Please find below the screenshot
![image](https://user-images.githubusercontent.com/63699950/87783246-61082600-c834-11ea-8756-91bdad8a45c2.png)

[2020-07-20 15:45] Siel commented on #20
Hi @jbwoillard, try re-opening Rstudio, that's usually the issue.

[2020-08-12 00:48] mnneely commented on #9
This is now fixed and can be accessed by reinstalling from GitHub using devtools::install_github("LAPKB/Pmetrics") in Rstudio.

[2020-08-12 00:48] #9 closed, assigned to mnneely

[2020-08-12 09:18] Trepon opened #23 "makeValid error"
Hello,

When using the makeValid function, I get the following error:

[code]

During the the npde computation, there was also an error message:

[code]

I end up with "thisobs" and "thissim" objects in my environment, instead of what I suppose should be a PMvalid object.
I'm using the latest Pmetrics build (with the EVID=4 fix).

Here is the code I ran:
`makeValid(356,
  binCov = "agfr",
  limits

[2020-08-12 15:50] mnneely commented on #23
Coincidentally, I just had the same bug myself and fixed it.  It is a problem in the npde package.  Your variance matrix was not positive-definite, which usually happens with sparse data or small populations.  I took the fix I made in Pmetrics and applied it to npde.  Just reinstall npde using this code in Rstudio:

```devtools::install_github("LAPKB/npde")```

That should work for you. Pmetrics w

[2020-08-12 15:50] #23 closed, assigned to nobody

[2020-08-24 07:37] mhovd opened #24 "OS not passed to .installOrUpdateGCC"
This issue was discovered by a student attempting to install Pmetrics for the first time on a Mac.

Upon running `PMbuild()` this error came up

[code]

A quickfix to this was to edit the function with trace, in order to successfully run PMbuild()
`trace(Pmetrics:::.installOrUpdateGCC(),edit = TRUE)`
and manually forcing `OS = 1`.

[2020-08-28 22:22] #24 closed, assigned to nobody

[2020-08-28 22:23] Siel commented on #24
Thank you for your report, It was just fixed in the latest commit.

[2020-09-17 18:35] Siel opened #25 "SIMparse - Error in parsing large or very small numbers"
if the simulation contains number larget than x.yzE+100 or lower than x.yzE-100, the simulator is going to write those numbers using a wrong format that removes the E character.

I.E:
![image](https://user-images.githubusercontent.com/1023006/93512777-aea71a80-f8d9-11ea-9ff0-35bfaf854e2f.png)

This makes SIMparse to crash:

Processing 1 simulated data file(s)
0% Error in scan(allfiles[n], skip = a

[2020-09-17 18:40] Siel commented on #25
Putting all the E(s) manually solves the problem. I think the problem might be related to the format we're using in fortran to write that file.

[2020-09-17 22:11] mnneely commented on #25
This problem is typically avoided by using the limits argument to SIMrun, e.g.

```SIMrun(...,limits = c(0,3))```

This avoids simulating physiologically impossible parameters.

[2020-10-21 18:22] mshaer-pkpd opened #26 "NA error"
When I run the PMload, "errfile.run#" with character (empty) value is generated and I get this error when I try to run makeValid():

`Error in do_one(nmeth) : NA/NaN/Inf in foreign function call (arg 1)
In addition: Warning message:
In storage.mode(x) <- "double" : NAs introduced by coercion`

SIMrun won't run too.

Thanks
Mo

[2020-10-21 19:03] #25 closed, assigned to nobody

[2020-10-26 02:11] jjliupharmd opened #28 "Cannot create PMpost object"
Hi there,

I am encountering an error as the NP run converges and finishing up - the post.x object cannot be successfully created (see screenshot below).

And when I load the run folder [PMload(x)] and try to use makePost(x) argument to create a post.x object with NPdata.x, I received the following message.  It seems that some values were either zero or _NA_ in the final NPdata that has led to thi

[2020-10-27 09:31] vlebreton commented on #20
Hello,

I have same problem of gfortran like @jbwoillard
![PMbuild](https://user-images.githubusercontent.com/73525546/97282665-3c621800-183f-11eb-9829-566e7719e767.png)
 when I try to install new version of Pmetrics.
I have already install Rtools, and I also install gcc and follow step 5 and Pmetrics manual but there is always same error message,

Can you help me please.

[2020-10-28 13:58] mshaer-pkpd commented on #26
Sorry forgot to add SIMrun error:
`Error in sdVector[i] * sdVector[j] :
  non-numeric argument to binary operator`

Thanks again!

[2020-10-31 10:20] vlebreton opened #29 "Update Pmetrics"
Hello,

I have same problem of gfortran like @jbwoillard
![PMbuild](https://user-images.githubusercontent.com/73525546/97282665-3c621800-183f-11eb-9829-566e7719e767.png)
 when I try to install new version of Pmetrics.
I have already install Rtools, and I also install gcc and follow step 5 and Pmetrics manual but there is always same error message,

Can you help me please.

_Originally posted by @v

[2020-11-25 09:17] Trepon opened #30 "Error in Pmetrics Report label"
In the html reports, when viewing plots, there are 2 different plots labelled as "Normalized Mean". I guess one of them should be "Normalized Median".

![image](https://user-images.githubusercontent.com/58770987/100206581-d385c280-2f06-11eb-97b6-588e88c57099.png)

[2020-11-25 15:06] Siel commented on #30
Thank you for reporting this error, I was updating the graphs and missed that, would be fixed in the next minor patch.

[2020-11-25 15:07] Siel commented on #26
Is it possible to have the files you’re using to try to reproduce the error on my end?

Thanks!

[2020-11-25 15:12] mshaer-pkpd commented on #26
Sure. Please find attached.

Thanks
Mo

[cid:54c77d06-4dae-4cd6-bb91-f35afc0fa826@namprd22.prod.outlook.com]

Mohammad H. Alshaer, Pharm.D., Ph.D., BCPS
Research Assistant Professor
Infectious Disease Pharmacokinetics Laboratory
Department of Pharmacotherapy & Translational Research | College of Pharmacy, and
Emerging Pathogens Institute
University of Florida
1600 SW Archer Rd | Medical Science Bu

[2020-11-25 15:17] Siel commented on #29
I see, are you ok if we set up a virtual meeting to help you?

[2020-11-25 15:44] #30 closed, assigned to nobody

[2020-11-25 15:48] Siel commented on #26
The error model is not going to be enough to reproduce the error, can I have the compressed version of the folder you're trying to load?

[2020-11-25 15:49] jbwoillard commented on #29
Dear Julian I am ready now for a virtual meeting also if you want to send
me a message?
All the best
jb

Le mer. 25 nov. 2020 à 16:39, Julian Otalvaro <notifications@github.com> a
écrit :

--

Jean-Baptiste Woillard (PharmD, PhD)

MCU-PH

Service de Pharmacologie, Toxicologie et Pharmacovigilance

CBRS CHU Limoges

INSERMU1248

Faculté de Médecine de Limoges

Université de Limoges

Tel : 05 55 05

[2020-11-25 15:49] Siel commented on #28
Hi, sorry for the late response, are you still having this problem? Can I have the data you are using to reproduce the error on my end? thanks

[2020-11-25 15:49] Siel commented on #29
Hi @jbwoillard are you still having the problem with the installation of pmetrics?

[2020-11-25 15:51] jbwoillard commented on #29
Yes I did not find the solution

Le mer. 25 nov. 2020 à 16:50, Julian Otalvaro <notifications@github.com> a
écrit :

--

Jean-Baptiste Woillard (PharmD, PhD)

MCU-PH

Service de Pharmacologie, Toxicologie et Pharmacovigilance

CBRS CHU Limoges

INSERMU1248

Faculté de Médecine de Limoges

Université de Limoges

Tel : 05 55 05 61 40

Fax : 05 55 05 61 62

Webpage : https://www.unilim.fr/ippritt/peo

[2020-11-25 15:58] Siel commented on #29
@jbwoillard please send me an email: juliandavidd347@gmail.com. Thanks!

[2020-11-25 16:01] Trepon opened #31 "When input = 2 and dose duration different than 0, the dose event seems to be ignored"
Hello,
I have a problem with doses for a model with an absorption compartment (1) and a central compartment (2), and two routes of administration (input = 1 for compartment 1, input = 2 for compartment 2). When a dose is administered in the central compartment (2), i.e. an IV infusion with duration = 1, the dose event seems to get ignored by Pmetrics. However, when setting it to an IV bolus (durat

[2020-11-25 16:02] jbwoillard commented on #29
Dear Julian it does not work, is it the correct email address?

Le mer. 25 nov. 2020 à 16:58, Julian Otalvaro <notifications@github.com> a
écrit :

--

Jean-Baptiste Woillard (PharmD, PhD)

MCU-PH

Service de Pharmacologie, Toxicologie et Pharmacovigilance

CBRS CHU Limoges

INSERMU1248

Faculté de Médecine de Limoges

Université de Limoges

Tel : 05 55 05 61 40

Fax : 05 55 05 61 62

Webpage : ht

[2020-11-25 16:14] mshaer-pkpd commented on #26
Sent it to your personal email as it failed to attach here.

[2020-11-25 16:33] Siel commented on #26
I got it, thanks! I'm going to work on that :)

[2020-11-25 16:45] jjliupharmd commented on #28
No prob - thanks for taking the time!

Could you provide an email to which I can send the dataset?  Thanks!

JJ

- sent from my Pixel

On Wed, Nov 25, 2020, 10:49 Julian Otalvaro <notifications@github.com>
wrote:

[2020-11-25 17:08] Siel opened #32 "Add an option to skip the installation count"
Found by @jbwoillard. It might stop PMbuild if the request could not be handled

[2020-11-25 17:09] Siel commented on #28
Yes, my email is juliandavid347@gmail.com

[2020-12-04 21:05] Siel commented on #26
I was finally able to reproduce your error. The error happens in the elbow plot. Can you send me your data file?

[2020-12-04 21:17] mshaer-pkpd commented on #26
Looks like I cannot attach files here. I sent it separately to your email. If you can check the SIMrun too, that will be excellent!

Many thanks!
Mo

On Dec 4, 2020, at 4:05 PM, Julian Otalvaro <notifications@github.com> wrote:

﻿
[External Email]

I was finally able to reproduce your error. The error happens in the elbow plot. Can you send me your data file?

—
You are receiving this because you

[2020-12-04 21:18] Siel commented on #26
I'll need the model you're using to simulate too. 😄

[2020-12-04 21:25] mshaer-pkpd commented on #26
I attached the model file to the previous email. Please let me know if you need any more files. Thanks

On Dec 4, 2020, at 4:19 PM, Julian Otalvaro <notifications@github.com> wrote:

﻿
[External Email]

I'll need the model you're using to simulate too. 😄

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/u

[2020-12-04 22:49] Siel commented on #26
@masyamada and I found the error, it seems that in order to use makeValid you cannot use string ids. as a workaround, if you transform all your ids to numeric incremental numbers. it should work.

In the meantime we're going to try to prevent this error to happen.

[2020-12-05 00:14] mshaer-pkpd commented on #26
makeValid worked but not SIMrun. Got the error I mentioned in my second comment above

[2020-12-09 13:19] #32 closed, assigned to Siel

[2020-12-15 17:59] Siel opened #34 "SIMrun Error in sdVector[2] * sdVector[1] : non-numeric argument to binary operator"
Discovered by: @mshaer-pkpd

[2020-12-15 18:01] Siel commented on #34
It seems that some update in R makes that lists cannot be multiplied. i.e:

[code]
[code]
[code]

[2020-12-15 18:02] Siel commented on #34
Solution: parse those list using as.numeric()

[2020-12-15 18:13] Siel commented on #34
@mshaer-pkpd please try this version of Pmetrics: `devtools::install_github("LAPKB/Pmetrics", ref="fix34")`

[2020-12-15 18:17] Siel commented on #34
I just ran it and it worked. I need @mnneely approval to merge it with master.

[2020-12-15 18:22] Siel commented on #29
The new version of Pmetrics has a mechanism to avoid the registration. So i think this issue is fixed. Please re-open it if you're still having problems.

[2020-12-15 18:22] #29 closed, assigned to nobody

[2020-12-15 18:23] Siel commented on #20
@vlebreton do you still have this problem?

[2020-12-15 18:24] Siel commented on #26
The SIMRun issue was addressed in #34.

[2020-12-15 18:41] jbwoillard commented on #20
Dear Julian, I try the new version of Pmetrics but in my Hospital computer,I still have the same issue

`PMbuild()`
Pmetrics cannot find required compiled binary files.
C:\ProgramData\chocolatey\bin\gfortran.exe
C:\rtools40\mingw64\bin\gfortran.exe
C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin\gfortran.exe
Pmetrics has detected gfortran and will compile required binary files.
Pmetr

[2020-12-15 18:45] Siel commented on #20
Hi JB,

Please download the latest version of Pmetrics (there is a new one 😊) and
use PMbuild(skipRegistration=T).

Please let me know how it goes.

Julian

On Tue, Dec 15, 2020 at 1:41 PM jb woillard <notifications@github.com>
wrote:

[2020-12-15 18:54] jbwoillard commented on #20
Oups I read too fast and forgot the new argument! Fantastic everything is ok now.
Thanks++
jb

[2020-12-15 18:54] #20 closed, assigned to nobody

[2020-12-16 00:13] #28 closed, assigned to nobody

[2020-12-16 00:13] #34 closed, assigned to Siel

[2020-12-19 12:51] aasberg opened #36 "makeValid restrictions?"
Are there any restrictions using makeValid? I have a model with a drug dosed both once and twice daily and also use the steady state function; addl=-1. I only specify observations up to 12 hours after dose (all patients have this). Get this error:

*****************************
Use, for example, SIMparse(“full1.txt”) to extract simulator output for analysis or plotting.
Error in { :
  task 1 faile

[2021-01-04 20:57] Siel commented on #36
I'm not sure what is the cause of the error but this error:
Error in { :
task 1 failed - "scan() expected 'a real', got '0.1409088+309'"

can be fixed by opening the file and appending an E after the '+' symbol. It's a pretty manual fix but it works at the end.

[2021-01-04 21:26] mnneely commented on #36
Did you include limits in the makeValid function? Looks like one of your simulated outputs was vast and caused an error.

Sent from my iPhone

On Dec 19, 2020, at 4:51 AM, Anders Asberg <notifications@github.com> wrote:

﻿

Are there any restrictions using makeValid? I have a model with a drug dosed both once and twice daily and also use the steady state function; addl=-1. I only specify observati

[2021-01-04 23:12] aasberg commented on #36
Thanks Julian and Michael! I forgot to set limits and when I rerun with, it worked fine! You are super!

[2021-01-05 00:06] Siel commented on #36
I'm goin to close the issue then :)

[2021-01-05 00:06] #36 closed, assigned to nobody

[2021-01-08 02:32] Siel commented on #26
Problem solved

[2021-01-08 02:32] #26 closed, assigned to nobody

[2021-01-14 09:29] Trepon opened #37 "Bias and imprecision are not calculated when doing 0 cycle runs"
Hello,
When I do external validation of a model with a validation dataset, using a 0 cycle run with a prior specified (i.e. NPrun(model = “my_model.txt”, data=”validation.csv”, prior=NPdata.1, cycles=0)), bias and imprecision are not calculated on the report (they are equal to 0).
![image](https://user-images.githubusercontent.com/58770987/104571249-29e3c780-5653-11eb-8522-825d92405bca.png)

Thank

[2021-01-14 09:32] Trepon commented on #31
Hi, any update on this issue? We're kind of stuck on this :-)
Thank you for your help
RB

[2021-01-14 09:41] mhovd commented on #31
`INPUT` in your data file does not relate to the compartment where the drug is administered, but is used to separate different drugs. If you are using a model with differential equations, use `RATEIV(n)` for your `n`th drug bolus injection / infusion.

If you want to change the compartment where drugs are delivered, use
[code]
Which tells PMetrics to administer your `n`th drug to compartment `x`

[2021-01-14 10:22] Trepon commented on #31
Thank you for your reply, that clarifies a lot!

So, if I understood correctly, when I want to develop a model for 1 drug with 2 routes of administration (oral and IV infusion), `INPUT` should be set to 1. When `DUR = 0` in the dataset, the dose is interpreted as a bolus and delivered in the 1st (oral) compartment, and when `DUR > 0` it is interpreted as an infusion and delivered into the 2nd (cen

[2021-01-14 12:58] mshaer-pkpd opened #38 "makePTA using Bayesians"
Hello,

I am trying to calculate the PTA for every patient in my dataset (using the Bayesians). In the makePTA help in R, it is mentioned that PMpost is allowed as simdata argument. Tried running _makePTA(simdata=post.run#)_ but got an error:
`Error in max(sapply(simdata, function(x) nrow(x$parValues))) :
  invalid 'type' (list) of argument`
Should this be entered in a different way in makePTA?

T

[2021-01-19 15:47] Trepon opened #39 "Bias and imprecision calculation with $obsSD"
Hello,
In the **Model bias and imprecision** section of the Pmetrics manual (p. 53), the weighting calculation is described as follows:

There is no mention of the error model (i.e. gamma/lambda) in the section.

When viewing the PMop object after a successful run, the values in the `$obsSD` column, which are used for the calculation of bias and imprecision, are described in the manual as (p.20):

[2021-01-19 16:19] #31 closed, assigned to nobody

[2021-01-20 17:02] mnneely commented on #37
This is a known issue with Pmetrics unfortunately.  We don't have a work around at the moment but will work on a fix.

[2021-01-21 16:24] Trepon commented on #23
Hello, thank you for your reply. I still get this error, despite reinstalling the npde package as you instructed:
[code]

[2021-01-21 19:49] ivette-herrera opened #40 "'gfortran' not found"
Hi!
 I have an error message when I run PMbuild()

**Pmetrics has installed gfortran and will now compile required binary files.
Pmetrics has anonymously registered your installation of this version.
LAPKB does not collect or store any personal or identifying information.If the registration time outs, please run PMbuild(skipRegistration=T)
Compiling 1 of 9: NPprep...Error in system(serialCommand,

[2021-01-21 21:02] elbaromero opened #41 "There was an error compiling NPprep."
Hola Julian,
I have carried out those steps specified on the web page of the Pmetrics site to install the software. I had a version of g95 Fortran compiler for use with NONMEM. After installing the devtools, Rtools and performing the PMcheck (), the systems detected gfortran and start compilations, the following message appears on my screen:

_Compiling 1 of 9: NPprep...Error in PMbuild() :
There

[2021-01-21 21:36] Siel commented on #40
I've seen this error before in windows. Try re-opening Rstudio after the fortran instalation. It might fix the problem.

Try that and let me know hot it goes.

[2021-01-21 21:39] Siel commented on #41
Hi @elbaromero, the current Pmetrics installation is not supporting other compiler than gfortran, this might be fixed in the future #18. Please try again with gfortran. re-opening Rstudio before trying again.

[2021-01-21 21:49] ivette-herrera commented on #40
I tried, but the problem continues

[2021-01-22 17:55] Siel commented on #40
In that case you might want to try to install gfortran manually: https://w3.cs.jmu.edu/bernstdh/web/common/help/fortran-setup.php, this is a tutorial I found. But you can use another method to get gfortran in your computer.

[2021-01-27 06:48] Yuanzhang-d opened #42 "error when running SIMrun and SIMparse"
Hi!
I have an error message when I run SIMrun and SIMparse：
my code：“SIMrun(poppar=final.2,data="2501b.csv",model="3C_1.txt",include=1:4,limits=NA,nsim=100,doseNoise=c(0.05,0.1,0.15,0.2))”，I don't know how to change the noise coefficeintes.

result：
PLEASE RERUN THE PROGRAM AND SELECT SMALLER NOISE COEFFICIENTS
 FOR THE DOSAGE AMOUNTS.
 HIT ANY KEY TO CONTINUE:
At line 8458 of file SIMeng_114.f (u

[2021-02-05 14:56] Trepon opened #43 "Pmetrics package cannot be loaded without internet access"
Hi,
When there is no internet access, we get this error message when trying to load Pmetrics:
[code]
It would be nice to be able to develop some models in a limited connectivity environment :-)

[2021-02-05 15:29] mnneely commented on #43
Pmetrics does not depend on an internet connection to work once all components are installed. However, upon loading, it does check our server for updates if there is a connection.  The error you experienced usually occurs when your computer is connected to a wireless network without internet, i.e. you haven’t authenticated on the network. If that is not the case here, let us know as there is some

[2021-02-12 15:15] Trepon commented on #43
Hi, thanks for the reply. Sadly, I still get the error when all networks are turned off (airplane mode and no ethernet network):
![Screenshot 2021-02-12 161401](https://user-images.githubusercontent.com/58770987/107785884-70f5d300-6d4d-11eb-815a-7a2a3b1896d2.png)

[2021-02-18 13:04] AuRAdz opened #44 "unable to run NPrun"
Hello,
It seems I installed the program correctly, however I cannot run NPrun and receive Pmetrics Report:
![image](https://user-images.githubusercontent.com/79262268/108360940-8742d980-71fa-11eb-944e-9c47a1aa41d7.png)

![image](https://user-images.githubusercontent.com/79262268/108360982-92960500-71fa-11eb-8c02-34263e84d6b0.png)

[2021-02-18 23:36] Siel commented on #44
It seems that the fortran source files are not being generated correctly, is it working with other datasets or models? Can you try within a different folder to discard some permission issue?

[2021-02-18 23:40] Siel commented on #42
There are multiple ways to modify the noise coefficients, you can modify them here: doseNoise=c(0.05,0.1,0.15,0.2) or inside your model.txt or individually for each measurement in your data file.

[2021-02-19 06:34] AuRAdz commented on #44
Dear Julian Otalvaro,
Thank you for your reply, the example file worked fine for me.
Sincerely,
Aurelija Radzeviciene

On Fri, 19 Feb 2021, 01:36 Julian Otalvaro, <notifications@github.com>
wrote:

[2021-02-24 04:47] harishkaushikbugworks opened #45 "Issue in Installation of Pmetrics from GITHUB"
I have followed the instruction provided in http://www.lapk.org/Pmetrics_install.php
however, i face the following issue as shown in the screen shot, unable to proceed further from last 10 times, i treid some thing nothing worked

can any one help
![isse while installation](https://user-images.githubusercontent.com/49284633/108948967-83470980-7689-11eb-8d15-db02beaf8858.jpg)

[2021-02-24 16:15] Siel commented on #45
Please try again selecting the option 3 (None) when the installations asks you which packages do you want to update.

[2021-03-09 15:05] mhovd opened #46 "Feature request: option to disable HTML report opening"
When using Pmetrics on a headless server, the HTML report opening could cause issues.
As such, it would be nice to have an argument in NPrun to disable the automatic opening of the HTML report, while still performing the standard post-run processing.

`intern = TRUE` is only an option on OS X, and is not a suitable replacement, as the R session will be busy.

Is this something that may be consider

[2021-03-09 15:49] Siel commented on #46
We could create a new flag to include that feature, I would like to hear @mnneely opinion in this regard, I could implement it.

[2021-03-12 06:55] CRquantum commented on #45
There might be several options.
1. Uninstall that package (perhaps no need to uninstall it), then anyway install it using "dependences = TRUE". Eg, install.packages("package name", dependencies = TRUE)
2. You might also try option 2, CRAN package only. Then, in the pop up windows, if it asks things like  it requires compile on the local machine yes or no? Choose Yes. In the following pop up window

[2021-03-12 07:03] CRquantum commented on #44
Looks like it is a gfortran problem.
You may want to install stawberry perl, https://strawberryperl.com/
and please also note that you need to put stawbeery dir such as C:\Strawberry\c\bin\ in you system's environment path, on top of other items which may also contain gfortran.exe.  Point is to let Pmetric find the gfortran.exe in stawberry dir first so that it can use it.

![Screenshot 2021-03-11

[2021-03-12 07:11] CRquantum commented on #41
Please check here, https://github.com/LAPKB/Pmetrics/issues/44#issuecomment-797282955
I have the same problem before, but solved it by the installing stawberry perl, and use the gfortran in it as mentioned above.
The problem happens because Pmetrics did not find (from the system's environment variable) the correct version of gfortran which it can really use.

[2021-03-12 07:15] CRquantum commented on #40
it is a gfortran problem, please see here, https://github.com/LAPKB/Pmetrics/issues/44#issuecomment-797282955
let us know if the problem is solved or not.

[2021-03-12 07:33] CRquantum commented on #18
Perhaps can add
/LARGEADDRESSAWARE
or
--enable-large-address-aware
whichever is correct to the flag for gfortran, in order to overcome the 2GB limit.

[2021-03-12 07:38] CRquantum commented on #43
I can be completely wrong, but perhaps you could try the following command before load Pmetrics,
options(download.file.method = "wininet")
if it does not work then perhaps try another one,
options(download.file.method = "libcurl")

[2021-03-17 14:13] Trepon commented on #43
Thank you, I tried but sadly I still get the same error.

[2021-03-17 17:00] Siel commented on #43
Hi @Trepon, which version of pmetrics are you using? if you're still having those issues we can have a video call and I could try to help you.

Please let me know

[2021-03-24 13:59] AuRAdz commented on #44
Dear Chen Rong,
I thin I did everything correctly and I still receive:
[image: image.png]

Any advice? Thank you for your support.

Pagarbiai,

Kauno regiono biomedicininių tyrimų etikos komiteto Vyr. specialistė,

LSMU MA FFI lektorė,

Dr. Aurelija Radzevičienė

El.paštas: ***@***.*** ***@***.***>;
tel.: +370 64685377

2021-03-12, pn, 09:03 Chen Rong ***@***.***> rašė:

[2021-03-24 16:47] CRquantum commented on #44
Thank you for letting us know Aurelija.
Could you please attach your picture? It seems that there is only text  [image: image.png]  here.

From your first Feb 18 post, It looks like perhaps either your gfortran version might not be the one works with Pmetrics, or your gfortran simply cannot find that npagdriv.f file.
In either case, if possible, could you please try force reinstall Pmetrics, and t

[2021-03-31 14:03] harishkaushikbugworks commented on #40
Can any one post detailed video on how to fix this issue, even i am also facing similar issue

[2021-03-31 14:08] Siel commented on #45
@harishkaushikbugworks is this issue solved?

[2021-03-31 14:09] Siel commented on #42
@Yuanzhang-d I'm going to close the issue supposing that is solved, please feel free to reopen it if that is not the case.

[2021-03-31 14:09] #42 closed, assigned to nobody

[2021-03-31 14:10] Siel commented on #41
Hi @elbaromero, I'm going to close this issue, if your problem is still not solved please feel free to reopen it.

[2021-03-31 14:10] #41 closed, assigned to nobody

[2021-03-31 14:13] Siel commented on #40
Hi @harishkaushikbugworks, please refer to: http://www.lapk.org/Pmetrics_install_manual.php step 4. That is our tutorial to install gfortran if the automatic installation fails. Please let us know if you are still having issues after that.

[2021-03-31 14:16] Siel commented on #44
Hi @AuRAdz, could you send us a copy of your files to try to run them locally (you can also send them to my email if you prefer)? it might be a compilation error. I see that your gfortran is working but one of the source files is missing.

[2021-04-12 20:43] AuRAdz commented on #44
Dear Julian Otalvaro,
Please find the files in OneDrive. Any advice is welcomed.
Sincerely,

[https://outlook-1.cdn.office.net/assets/mail/file-icon/png/folder_16x16.png]MinGW-w64<https://lsmu-my.sharepoint.com/:f:/g/personal/aurenore1210_kmu_lt/EpL5Qhmp3rNImKQ9GVqv9poBcoy4uFRNdaEryoQ0sLYSdQ?e=WJT0k3>
[https://outlook-1.cdn.office.net/assets/mail/file-icon/png/folder_16x16.png]MinGW<https://lsmu-m

[2021-10-08 02:44] suzloup commented on #40
Hi @Siel and @mnneely! We have manually installed gfortran on a Windows10 laptop and PMtest() says it has installed successfully - but when we run we receive an error: np_prep.exe - system error: The code execution cannot proceed because libgfortran-5.dll was not found. Reinstalling the program may fix this problem. Is this a problem with our version of gfortran perhaps? Best wishes, Suzie

[2021-10-08 05:36] suzloup commented on #44
Hi @Siel  and @mnneely -  we have recently installed gfortran manually and had trouble compiling the fortran files so we followed the instructions above for using strawberryperl.com. This worked in that we were able to compile the files and perform PMbuild successfully. However, when we ran PMtest() we encountered an error: 'PsN-5.00\strawberry\perl\bin' not found. Any advice would be very welcome

[2021-10-11 16:47] Siel commented on #44
Hi @suzloup, are you using windows? For windows I’m using the gfortran bundled into the mingw package. And it’s working fine.

what I can see from the error message you’re getting is that the issue might be related to your PATH variable, I can help you fix it, do you have some time this week so we can troubleshoot it online?

Julian

[2021-12-03 10:51] mhovd opened #50 "SIMrun will not create csv if all but one covariates are fixed"
During some testing with SIMrun, I encountered an error.
When the number of non-fixed covariates to be simulated is one, SIMrun will fail to create a csv-file with the data.
This is the error: `Error in (nfixed + 1):(nfixed + ncol(covDF)) : argument of length 0`.

I believe this error is because `ncol(covDF)` evaluates to `NULL`.

Here is a minimal example reproducing the error:
[code]

[2022-01-05 18:49] njrhodes opened #51 "makeValid error in Pmetrics 1.9.7: Error in { : task 11 failed - "scan() expected 'a real', got 'THE'""
Using a one compartment model fit to sparse PK data and the makevalid() function, I get the following simulation error:

makeValid(7, limits=c(0,1), binCov=c('crcl'),tadC=F)

In addition: Warning messages:
1: In shell("montbig.exe DOS < simControl.txt", invisible = T) :
  'montbig.exe DOS < simControl.txt' execution failed with error code 2
2: In shell("montbig.exe DOS < simControl.txt", invisible

[2022-01-06 15:22] mnneely commented on #51
Your model is leading to bad simulated values, either when simulating the mean for each bin, or for each subject. Try limits=NA to see if that helps, or try another model! The makeValid function does use SIMrun, but the conditions makeValid uses might not have been the same as you used in SIMrun.

___________________________________________
Michael Neely, MD, MSc, FCP
Chief, Infectious Diseases
Di

[2022-01-07 15:14] njrhodes commented on #51
Thanks Michael!

Unfortunately, using a different model or setting limits=NA does not help. I also tried changing up the number of clusters.

Do I need to re-download the npde package as per a previous thread or is that a part of the current version from Github?

[2022-01-07 15:23] njrhodes commented on #51
I just looked at the m_data file and the covariate crcl has been updated to be a fixed value for each subject. The values are very different from the actual data file values. I wonder if this is contributing to the un-realistic simulated values....

[2022-01-07 16:12] mnneely commented on #51
makeValid simulates twice - once based on the mean values for binned covariates, and doses for each bin, and again using the original values. This is to be able to do the prediction corrected VPC, which is the standard now. That’s why you’re seeing the CRCL value fixed.

Have you looked at the reference paper for pcVPC? Bergstrand M, Hooker AC, Wallin JE, Karlsson MO. 2011. Prediction-corrected vi

[2022-01-07 16:19] njrhodes commented on #51
Looks like the simulation completes for all subjects but the values are problematic.

Perhaps makeValid() just should not be used on sparse data at all. Is that a fair conclusion?

[2022-01-07 16:26] mnneely commented on #51
It definitely struggles with sparse data. Sounds like the simulation completes but as you say results in very extreme values that aren’t written correctly to the file, so the read chokes. Is this happening in the first step where each subject is simulated using the mean bin values for CRCL and dose for whatever bin that subject is in?

Can you find out where the “THE” is that is causing the proble

[2022-01-07 19:49] njrhodes commented on #51
Looks like maybe some subjects were very sparse indeed. We are analyzing outputs in batches and some don't have some of the data yet. So, I conclude that -99 values seem to not work well with the simulator. I removed subjects with missing values (-99) and it seems to be progressing in a more predictable manner.

[2022-01-07 19:49] #51 closed, assigned to nobody

[2022-01-12 15:02] tuscanyguy opened #52 "Covariate set in your model file was not in the same order as in your data file?"
I've simulated cefazolin dosing & concentrations in a hemodialysis population (8) and then tried finding those simulated parameters.  This is in preparation before analyzing our actual dialysis study data.

Here were my PMetric commands:

Error in setwd("C:/PMETRICS/HDSIM/Runs") :
  cannot change working directory

**Error: The covariate set in your model file was not in the same order as in your

[2022-01-12 15:16] mnneely commented on #52
Hi Rob,

If you want the covariate HD to be constant from episode to episode, which you do, the exclamation point goes in the model file, not the data file. Your column in the data should be “HD” and in the model file it should be “HD!”. The way you have it Pmetrics thinks the covariate is named “HD!” since that’s what you have in the data file, and it is choking because you are declaring it to be

[2022-01-12 15:29] tuscanyguy commented on #52
Thanks for that Michael,
Okay that makes sense!
Rob A.

From: Michael Neely ***@***.***>
Sent: Wednesday, January 12, 2022 9:17 AM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] Covariate set in your model file was not in the same order as in your data file? (Issue #52)

Hi Rob,

If you want the covariate HD to be constant

[2022-01-14 14:45] tuscanyguy opened #53 "gfortran: error: npagdriv.f: No such file or directory"
Hi All,
I'm having difficulty running PMetric around hemodialysis dosing of cefazolin.   The error message I receive is basically one of not finding the npagdriv.f file?   I've seen others with this same issue as well on this Forum, but I can't seem to resolve it with those suggestions.
I've attached the data entry format from my .CSV file for the 1st 2 patients.    I've also attached the complete

[2022-01-14 15:09] mnneely commented on #53
When that happens, it means the model didn’t compile and run. You only need the “!” in the #COV block when you declare the HD covariate. Take out the “!” from the #SEC block and see if that lets it run.

___________________________________________

On Jan 14, 2022, at 6:46 AM, tuscanyguy ***@***.***> wrote:

﻿

Hi All,
I'm having difficulty running PMetric around hemodialysis dosing of cefazolin.

[2022-01-14 15:11] tuscanyguy commented on #53
Thank you Michael,
Will do,
Rob

From: Michael Neely ***@***.***>
Sent: Friday, January 14, 2022 9:10 AM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] gfortran: error: npagdriv.f: No such file or directory (Issue #53)

When that happens, it means the model didn’t compile and run. You only need the “!” in the #COV block whe

[2022-01-14 15:30] tuscanyguy commented on #53
I’ve removed the “!” from the HD within the #SEC block and still the same error message?

From: Michael Neely ***@***.***>
Sent: Friday, January 14, 2022 9:10 AM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] gfortran: error: npagdriv.f: No such file or directory (Issue #53)

When that happens, it means the model didn’t com

[2022-01-14 16:08] mnneely commented on #53
There must be something else preventing the compile. I notice your C1 term is negative. I’ve never seen that before. It means your assay has a negative CV%. I realize you fitted the error coefficients, but perhaps there’s a better set that isn’t negative in C1? If not, you could try C0=0.5 x minimum conc in your data and C1=0.1, with C2=C3=0. Otherwise, I don’t see anything else odd in your model.

[2022-01-14 16:37] tuscanyguy commented on #53
Thanks for that.  I’ve gone through and replaced all coefficients for the assay error polynomial as 4.2,0.05,0,0 in the Model as well as the CSV file.   But still the same error message when I ran it again.
I’ve never run this data file before.   I’ll go back and go through line by line to see if I can find something off in the data file.

From: Michael Neely ***@***.***>
Sent: Friday, January 14,

[2022-01-14 17:01] mnneely commented on #53
It can help to try just fitting one subject first, i.e delete all the subjects except the first. If that works, then try gradually adding back subjects. You only need to run 1 or 2 cycles, just to see if it works - NPrun(data=“hd5.csv”, cycles=2). That can help pinpoint the problem.

On Jan 14, 2022, at 8:37 AM, tuscanyguy ***@***.******@***.***>> wrote:

Thanks for that. I’ve gone through and rep

[2022-01-14 19:21] tuscanyguy commented on #53
I’ve tried one subject line alone and added the ‘cycles=2’ onto the NPrun line, but again same error messages.
I’m wondering now whether it is specifically the structure that I have set up the dosing relative to sampling times within the CSV file?

From: Michael Neely ***@***.***>
Sent: Friday, January 14, 2022 11:02 AM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.**

[2022-01-18 19:12] tuscanyguy commented on #53
I just had a thought for those also seeing a missing npagdriv.f file; I wonder if being behind my hospital institutions firewall is somehow blocking access to its retrieval?
Just a thought,
Rob Ariano

[2022-01-25 21:13] tuscanyguy commented on #53
PROBLEM RESOLVED!
The problem was with my data CSV file.   I had labelled column 1 simply as POPDATA JAN_22,  instead of POPDATA DEC_11
Once relabeled it ran beautifully.
Rob A.

[2022-01-25 21:14] mnneely commented on #53
Good for you for solving the problem! :)
______________________________________

Michael Neely, MD, MSc, FCP | Chief, Division of Infectious Diseases
Director, Laboratory of Applied Pharmacokinetics and Bioinformatics (www.lapk.org<http://www.lapk.org>),
The Saban Research Institute,
Children's Hospital Los Angeles
4650 Sunset. Blvd, #MS 176 | Los Angeles, CA 90027
Ph: 323.361.5047 | Fax: 323.361.

[2022-01-27 02:12] suzloup opened #54 "Simulations for posterior distribution"
Hi LAPKB team, Are you able to advise me on how to simulate from posterior distribution of PK parameters rather than population, please? Thank you in advance! Best wishes, Suzie

[2022-02-01 16:37] tuscanyguy opened #55 "PMetric no longer creating subdirectories?"
Unfortunately, I have been cleaning up & deleting subdirectories after all my PopPK testing and now PMetric no longer creates subdirectories prior to my RUN.  Obviously I've removed a file that it needs but I can't seem to figure which one?  Below is in my command space and I get it down to the point of making a project named CEF and setting the working directory to CEF; however, CEF doesn't show

[2022-02-01 17:00] Siel commented on #55
Hi Rob,

Which version of Pmetrics are you running, I just tried PMtree(project="CEF", folder=getwd()) and the CEF folder was created correctly. Could you reproduce the error?

Julian

[2022-02-01 17:33] tuscanyguy commented on #55
Thanks Julian,
I’m using this version:

RStudio 2021.09.1+372 "Ghost Orchid" Release (8b9ced188245155642d024aa3630363df611088a, 2021-11-08) for Windows
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) QtWebEngine/5.12.8 Chrome/69.0.3497.128 Safari/537.36

Below is the error response to my command line:

Error in PMtree(project = "CEF", folder = getwd()) : CEF  exist

[2022-02-01 17:37] Siel commented on #55
Rob, thank you for your answer, please try the following command before executing PMtree

system("rd -r CEF")

this command will try to remove that folder for you.

Please let me know how it goes,

Julian

[2022-02-01 17:43] tuscanyguy commented on #55
Thanks Julian,
Yes, that has worked to allow PMetric to proceed without error; however now I still can’t find the newly created CEF file within the usual PMetric subdirectory?

From: Julian Otalvaro ***@***.***>
Sent: Tuesday, February 1, 2022 11:38 AM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] PMetric no longer creatin

[2022-02-01 18:05] Siel commented on #55
My guess is that the folder is being created correctly but somnehow windows is not showing it to you properly. You can test this by typing list.files() on the R terminal, if the folder is there it would mean that it was actually created.

[2022-02-01 18:09] tuscanyguy commented on #55
I ran that command within R terminal and it returned this:

character(0)

From: Julian Otalvaro ***@***.***>
Sent: Tuesday, February 1, 2022 12:06 PM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] PMetric no longer creating subdirectories? (Issue #55)

My guess is that the folder is being created correctly but somnehow wind

[2022-02-01 18:14] Siel commented on #55
Do you have some time to meet? I'd like to check what is happening

[2022-02-01 18:16] tuscanyguy commented on #55
That’s wonderful Julian,
I’d be free after this zoom meeting.  Could we chat in about an hour?  13:30 CST?  What does your availability look like?
Rob

From: Julian Otalvaro ***@***.***>
Sent: Tuesday, February 1, 2022 12:15 PM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] PMetric no longer creating subdirectories? (Issue

[2022-02-01 18:41] Siel commented on #55
I'm available, do you still have my mail? feel free to send me a link when it is ok for you

[2022-02-01 21:46] Siel commented on #55
I'm closing because it was solved over a call, it was not a Pmetrics related issue

[2022-02-01 21:46] #55 closed, assigned to nobody

[2022-02-01 21:50] tuscanyguy commented on #55
Sounds good!  Thanks

From: Julian Otalvaro ***@***.***>
Sent: Tuesday, February 1, 2022 3:47 PM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] PMetric no longer creating subdirectories? (Issue #55)

I'm closing because it was solved over a call, it was not a Pmetrics related issue

—
Reply to this email directly, view it o

[2022-02-02 10:47] richwilson17 opened #56 "Matrix problem in makeNCA?"
Dear LAPKB,

I am encountering an error with the makeNCA function following a successful NPrun. My dataset has 2 outputs - unbound drug and interstitial fluid.

I have tried passing different arguments (first/last, specifying outeq etc),  but always the same issue.

Please can you advise?

Many thanks,
Richard

Error in NCA[i, 3] <- makeAUC(temp2, out ~ tad, icen = icen, outeq = outeq,  :
  incorr

[2022-04-04 09:51] Trepon commented on #39
Any update on this issue? I would like to know if I can rely on the displayed bias and imprecision values or if have to manually calculate them (using SD and gamma/lambda or only SD?).

[2022-04-12 18:19] tuscanyguy opened #57 "Saving or exporting output files?"
Hi all,  I’m sure  there is a simply solution to this, but I just can’t seem to see how to save my outputs from PMetric?

See below.  All I’m trying to do is export or save this file ‘cov.1’ in some way?  The small ‘disk save’ button doesn’t seem to do anything related to saving the file?
Thank you for any help,
Rob Ariano

![Output File Display](https://user-images.githubusercontent.com/97611083/

[2022-04-13 08:08] Trepon commented on #57
Hi, on your screenshot you used the `write.csv()` function in the console. You now have a file "CFZHD.csv"  in your working directory (as seen in the bottom right section of your screenshot) which contains the `cov.1` data. You can open this file with any csv viewer.

[2022-04-13 18:07] tuscanyguy commented on #57
Thank you Ronan for responding!  I'll give that a try.
Its not saving properly for some reason... but I'll see what I can do with that file to the right (i.e. CFZHD.csv).    I do get a hard dump of the data (i.e. all numbers in a word document type format).
I'll keep trying.
Rob A.

[2022-04-14 07:24] Trepon commented on #57
CSV files are tables in text format where columns are separated by commas (**C**omma **S**eparated **V**alues). They are not meant to be read in a text editor. You can view .csv files in Excel: right click the file, "Open with..." and choose Excel.
Hope that helps.

[2022-04-14 12:45] tuscanyguy commented on #57
Thank you Ronan!
Rob A.

From: Ronan Bellouard ***@***.***>
Sent: Thursday, April 14, 2022 2:25 AM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] Saving or exporting output files? (Issue #57)

CSV files are tables in text format where columns are separated by commas (Comma Separated Values). They are not meant to be read in

[2022-04-14 13:00] mnneely commented on #57
Ronan is correct in all his advice. Open the .csv file with any spreadsheet program, e.g. Excel. Just be aware that the file will contain a row with the mean Bayesian posterior parameter values and covariate values for each subject, followed by a block with the medians for parameters and covariates. That’s what indicated by the “icen” column, which was old notation for the CENtral tendency used fo

[2022-04-18 16:39] tuscanyguy commented on #57
Thank you for all your helpful comments, Ronan and Michael.   I hadn't thought of using R to calculate and display the final derived parameters.  How do I write that I want to display Kon=KI+KS, where KI and KS are PMetric solutions?
Rob A.

[2022-04-18 17:36] mnneely commented on #57
For example, if the relevant object is cov.1:

sumCov <- summary(cov.1) #this will summarize all the parameter/covariate info for the subjects, using medians by default. Look at help for summary.PMcov for more info.
Kon <- sumCov$KI + sumCov$KS #this defines a new variable Kon which is the sum of KI and KS for each subject
______________________________________

Michael Neely, MD, MSc, FCP | Chief

[2022-04-18 19:32] tuscanyguy commented on #57
Thank you Michael,
That's perfect; I'll run this tomorrow.
Rob

________________________________
From: Michael Neely ***@***.***
Sent: Monday, April 18, 2022 12:36 PM
To: LAPKB/Pmetrics
Cc: Rob Ariano; Author
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] Saving or exporting output files? (Issue #57)

For example, if the relevant object is cov.1:

sumCov <- summary(cov.1) #this will summarize all the pa

[2022-05-04 18:17] mhovd opened #58 "PMcycle and PMfinal objects not saved"
Following an upgrade to R 4.2.0, and a fresh install of Pmetrics 1.9.7, I have not been able to save the cycle and final objects following a run. This error also occurs when using the built-in model (`Pmetrics::model`) and dataset (`Pmetrics::mdata.1`).

Following I run, I get the following errors in the terminal:
[code]

If I try to make the objects manually, I get the following errors:
[code]

R

[2022-05-19 08:31] harishkaushikbugworks opened #63 "Montecarlo simulation"
Hello All,

It will be of help, if any one could provide a working example of Montecarlo simulation and PTA analysis

Regards
Harish

[2022-05-19 15:02] Siel commented on #63
Hi @harishkaushikbugworks,
There are example of both, montecarlo simulations and PTA analysis on our examples folder @ [http://www.lapk.org/software/Pmetrics/Examples.zip](http://www.lapk.org/software/Pmetrics/Examples.zip).

I'll close this issue

[2022-05-19 15:02] #63 closed, assigned to nobody

[2022-05-19 15:04] Siel commented on #58
I've been trying but I cannot reproduce this error. It is only happening on Mac with Intel chips?

[2022-05-19 15:05] Siel commented on #57
I'll close this issue just to keep everythin clean, feel free to reopen if the problem persists.

[2022-05-19 15:05] #57 closed, assigned to nobody

[2022-05-19 15:05] Siel commented on #53
I'm happy the problem is solved, I'm clising this issue to keep the tracker clean

[2022-05-19 15:05] #53 closed, assigned to nobody

[2022-05-19 15:06] Siel commented on #44
@suzloup I'm closing this issue for the time being, feel free to reopen if your problem persists.

[2022-05-19 15:06] #44 closed, assigned to nobody

[2022-05-19 15:08] mhovd commented on #58
I have not been able to test this on any other systems yet, but the error is still present on my MacBook with Intel chip.

[2022-05-19 15:09] Siel commented on #40
Suzie, Sorry for the late response, usually that error means a problem with your gfortran binary. I'd recommend you to install the minGW package. that Gfortran works fine on windows.  I'm closing this issue for the time being, feel free to reopen if your problem persists.

[2022-05-19 15:09] #40 closed, assigned to nobody

[2022-05-19 15:24] tuscanyguy commented on #53
Thank you Julian!
Rob A.

From: Julian Otalvaro ***@***.***>
Sent: Thursday, May 19, 2022 10:06 AM
To: LAPKB/Pmetrics ***@***.***>
Cc: Rob Ariano ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [LAPKB/Pmetrics] gfortran: error: npagdriv.f: No such file or directory (Issue #53)

I'm happy the problem is solved, I'm clising this issue to keep the tracker clean

—
Reply to this email direct

[2022-05-20 00:58] christyny commented on #58
I'm running under Windows 10, but the problem still occurs.

[2022-05-25 13:22] mhovd commented on #58
The issue is still present after re-installation of Pmetrics (latest commit `40f12edbf2df109bc57b1d6b7f42438250674464 `, R 4.2.0, Monterey 12.4).
Additionally, the `cov.*` object is not saved under some occasions, resulting in the following errors:

[code]

The additional error was apparent when including a single patient only, and using a prior. I have not yet been able to isolate the reason for

[2022-05-25 15:51] Siel commented on #58
@mhovd I'm still unable to reproduce the error, could you please check if that bug is present int the 'Version2' branch?

[2022-05-27 08:22] mhovd commented on #58
Unfortunately the error is still present in the `Version2` branch, here is the error message from Terminal
[code]

And the same error as previous when attempting to create the objects manually.
[code]

[code]

[2022-05-27 13:38] Siel commented on #58
@mhovd I'm using R 4.2 and still i'm unable to reproduce the error, but this user reinstalled R 4.1.3 and got it fixed: https://github.com/LAPKB/Pmetrics/discussions/64#discussioncomment-2833080. Could you try that?

[2022-05-28 12:03] mhovd commented on #58
I can try that, but I would like to use R 4.2 for a couple of packages that I need.
However, I was able to reproduce the error on my machine using the latest image of `rocker/rstudio`
[code]

[2022-05-28 13:49] Siel commented on #58
@mhovd Actually we are going to release a docker version of pmetrics, see: https://hub.docker.com/r/lapkb/pmetrics/tags

![image](https://user-images.githubusercontent.com/1023006/170828235-01f73b55-a139-4f9b-866f-d4682be11476.png)
![image](https://user-images.githubusercontent.com/1023006/170828260-754b994f-e2d3-4a5e-be3d-0c4a23cf4896.png)
![image](https://user-images.githubusercontent.com/102300

[2022-05-28 14:06] Siel commented on #45
For the time being, I'm going to close the issue, please feel free to re-open if necessary

[2022-05-28 14:06] #45 closed, assigned to nobody

[2022-05-28 15:00] mhovd commented on #58
I suspect this error could be due to some change in R 4.2, as the Pmetrics Docker image seems to use R 4.1.2
Were you able to try with the `rocker/rstudio` image as well?

EDIT: Removed unnecessary information.

[2022-05-28 19:39] mhovd commented on #58
I was able to test this on my desktop (Windows 10, Intel) as well, with a fresh install of R 4.2 and Pmetrics  1.9.7 and 2.0.0 - the same error was present on both.

[2022-05-30 09:03] mhovd commented on #58
I temporarily installed R 4.1.3 and that seemed to solve the problem.

[2022-06-01 14:15] Siel commented on #58
Thanks @mhovd, we might need to address this soon, we have plans to release Pmetrics 2.0 soon, I'll try to fix this problem with R 4.2 by then

[2022-06-06 18:39] Siel commented on #58
@mhovd, I just fixed the issue in the Version2 branch, could you check? I'm going to close the issue for now, but feel free to reopen it if you re-experience the issue

[2022-06-06 18:39] #58 closed, assigned to nobody

[2022-06-21 10:01] mnneely opened #68 "Model error with two outputs"
Raised by @livPKPD. List model with 2 outputs not being translated correctly, so missing second line of error coefficients.

[2022-06-21 10:30] mnneely commented on #68
I believe Version2 branch now fixes this issue. @livPKPD, can you test and let me know if I can close this issue? You'll need to pull the revised branch with install_github("LAPKB/Pmetrics", ref = "Version2")

[2022-06-21 12:32] livPKPD commented on #68
Hi, thanks for the advice. Unfortunately, although I installed devtools, then installed and built the revised branch as above, I still et the same error:

MODEL REPORT:
There are errors in your model file.

There is 1 line of error coefficients in the model file, but 2 output equations.
These must be the same.

[2022-06-21 12:55] mnneely commented on #68
Make sure you completely quit Rstudio and restart. Sometimes it does not actually update to a newer library version without this. I tested the new script on your model and it did indeed work on my computer.

[2022-06-21 13:33] Siel commented on #68
It does work for me:

[code]

But I checked the code and we are printing the second line of coefficients, should we print again the first one instead? I remember we once talked about keeping the first error block as the default for all the others while we implement multiple lambda/gamma models. @mnneely

[2022-06-22 07:12] livPKPD commented on #68
Thank you - once I restarted R it ran! Delighted :)

[2022-06-22 08:48] mnneely commented on #68
Super. I’ll close this issue.

[2022-06-22 08:48] #68 closed, assigned to nobody

[2022-06-23 09:50] mnneely opened #69 "makeAUC issue"
The makeAUC() function does some kind of sorting and does not return the AUC that is linked to the right ID if you have numbered your ID:s in this order in the input file; 1,2,3,4,5,1.2,2.2,3.2,4.2,5.2. The you have to sort the data frame before running makeAUC() to get correct AUC linked to the correct ID.  - noted by Anders Asberg.

[2022-06-24 07:05] #52 closed, assigned to nobody

[2022-06-24 07:07] mnneely commented on #46
I'm open to that idea. We should implement it. Perhaps add `report` as an argument, with default `report = TRUE`.

[2022-06-24 07:11] mnneely commented on #56
@richwilson17 , does makeNCA work with just `makeNCA(5)`? That will use all available times/concs to calculate AUC. It's the easiest to do, but obviously not what is required always. NCA is tricky with heterogenous data, i.e. different dose numbers or sample times, so the function does its best to account for that, but it is admittedly fragile.

[2022-06-24 07:12] mnneely commented on #54
Hi @suzloup, this is best addressed in the Discussions, thanks.

[2022-06-24 07:12] #54 closed, assigned to nobody

[2022-06-24 13:43] Siel commented on #46
I'm implementing it now

[2022-06-25 00:03] Siel commented on #46
I just added this functionality, it is available on the Version2 branch

[2022-06-25 00:03] #46 closed, assigned to nobody

[2022-06-30 18:10] CRquantum opened #70 "Subroutine emint run-time error -> NACTVE not defined"
![image](https://user-images.githubusercontent.com/52009942/176747751-acce4ffe-507b-4f76-922b-a2b61d001403.png)

The original keep=NACTVE does not seem to be correct as it cause run-time error.
NACTVE is not defined and cannot be just used.
Should it be
[code]

[2022-06-30 18:13] CRquantum opened #71 "Subroutine emint -> ILOOP runtime error"
In subroutine emint, see below
![image](https://user-images.githubusercontent.com/52009942/176748239-3b1572cb-95e9-4962-ab0e-e0c728aef02d.png)

above 123 format,
ILOOP is used without being defined. It causes run-time error.
Need to fix.

[2022-06-30 18:19] CRquantum opened #72 "subroutine CALGRD -> needs to add Save attribute to both first and flag"
Save attribute need to be applied to both first and flag, see below
![image](https://user-images.githubusercontent.com/52009942/176749287-821ce980-3a54-4cda-9f05-5cc1f6b290dd.png)

[2022-06-30 18:22] CRquantum opened #73 "Not an issue. However a better Pause function"
The below one can directly replace the pause function in NPAG F77 code.
[code]

A even better one as below needs to be put in a module.
You can either specify input arguments or not. And it truly hit any key and continue.
[code]

[2022-06-30 19:14] CRquantum commented on #71
I do believe ILOOP needs to be defined in subroutine emint as
![image](https://user-images.githubusercontent.com/52009942/176759220-9195cc28-7292-4e23-99f1-bf9ab7365cbc.png)

[code]

[2022-06-30 19:24] CRquantum opened #74 "Not an issue -> improved SUMSQ function"
A more concise SUMSQ function in NPAG.
[code]

Original
[code]

[2022-07-01 15:39] mnneely opened #75 "makeValid not working with outeq>1"
Reported by @mshaer-pkpd.

[2022-07-01 15:39] mnneely commented on #75
Making progress on this. Can create valid object properly, but need to finish correct plotting.

[2022-07-04 10:08] mhovd commented on #46
Thank you for the work @Siel!

However, currently `report = FALSE` will prevent report _generation_ as well, which is not desired.
Instead, it would be nice if `report = FALSE` prevented only the _opening_ of the report, e.g. only implement
[code]

[2022-07-04 17:18] Siel commented on #46
Hi @mhovd, I choosed to do it this way because we have the PMreport method to generate the report, I know it is not much but generating the report also takes some time.

What do you think professor @mnneely ?

[2022-07-04 21:58] mnneely commented on #75
I think I have fixed it. @mshaer-pkpd, can you test it? Note, that this is beta for Pmetrics Version 2, which you will need to install with this command:

`devtools::install_github("LAPKB/Pmetrics", ref = "Version2")`

Then run PMbuild().
Example code to try:

[code]

[2022-07-05 19:44] mnneely commented on #46
I think it is reasonable to generate the report and suppress the automatic opening. It can be useful to look at the report later.

[2022-07-05 19:50] Siel commented on #46
Ok, I will change it now :)

[2022-07-05 19:58] Siel commented on #46
Now the report is going to be generated automatically and the 'report' flag will only controll if its going to be automatically opened or not

[2022-07-06 06:57] CRquantum opened #76 "line 3360, 3361 are redundant in NPeng_120.f"
Line 3360, 3361 are redundant in NPeng_120.f
One of line can be commented.

![image](https://user-images.githubusercontent.com/52009942/177487931-d46b3bc4-b9ba-4a6e-8a7e-53b715a5af76.png)

[code]
subroutine NOTINT just take the sum the WORK array to PYJ. No need to repeat twice at line 3360 and 3361.

[2022-07-06 07:00] CRquantum commented on #76
Besides, one line in the SUBROUTINE NOTINT is enough.
[code]

[2022-07-08 05:56] CRquantum opened #77 "line 7080 in NPprep_120.f need to add adjustl(trim(...))"
In subroutine AFTERCOMMA, at line 7080 as show below,
![image](https://user-images.githubusercontent.com/52009942/177924234-b605fea2-ff20-4638-8081-7ec9c2312414.png)

Need to use
[code]
instead of merely
[code]
Otherwise when the string READLINE(ISTART+1:IEND-1)) is long and without trimming the blanks in the tail, that string will take several lines, and the backspace behavior of gfortran and int

[2022-07-13 18:09] mnneely commented on #69
This is now be fixed. makeAUC will return a data frame sorted in original order of ID column.

[2022-07-13 18:09] #69 closed, assigned to nobody

[2022-07-13 18:11] mnneely commented on #75
@mshaer-pkpd confirmed new version to be working. Closing the issue.

[2022-07-13 18:11] #75 closed, assigned to nobody

[2022-07-13 18:13] mnneely commented on #43
No further comments in over a year. Please reopen the issue if still a problem, but closing this for now.

[2022-07-13 18:13] #43 closed, assigned to nobody

[2022-08-03 10:39] mhovd opened #84 "Prior is not respected when argument is a string"
As the title indicates, Pmetrics will not use a prior for a run when supplying `prior = "DEN0001"` as input.
Tested on R `4.1.3` and Pmetrics version 2.

Here is a minimal, working example
[code]
The HTML report will then indicate that a uniform distribution was used.
Using `fit$run(prior = 1)`, where 1 is the run number in the current directory, will correctly provide a prior distribution.

The f

[2022-08-03 13:26] Siel commented on #84
Thank you @mhovd!

@mnneely should I implement it this way?

[2022-08-03 13:55] mnneely commented on #84
It was implemented that way as an alternative to supplying the run number. Yes, if we can fix it so that it works that way again, that would be good. Most will not use it, but good to have the flexibility.

On Aug 3, 2022, at 6:26 AM, Julian Otalvaro ***@***.******@***.***>> wrote:

Thank you @mhovd<https://urldefense.com/v3/__https://github.com/mhovd__;!!LIr3w8kk_Xxm!vcGVhazVIU4Qkdu8d78AXqvI29axM

[2022-08-16 14:59] livPKPD opened #87 "simrun with simulated covariate"
Hi, as discussed I am re-posting this so that it is picked up when you get a chance!
I have an oral drug dosed in mg/kg. I do not have weight in my model as it was not significantly associated with the PK in regression analysis. But I want to sim the weights in the population and dose the drug according to the simulated weight distribution.

Model is here:
mod <- PM_model$new(list(
  pri = list(

[2022-08-19 07:42] mhovd commented on #84
An additional advantage of allowing filename as an input would be the ability to define custom prior distributions for runs.
It would require some very finicky editing of the `DEN0001` file, but I'm happy to help write a wrapper for it.

[2022-08-19 13:18] richwilson17 opened #91 "Error creating PMfinal and PMcycle"
Hi there,

I am running Pmetrics on an M1 Mac. The install was fine and PMtest ok. I am able to execute an NPAG and OP objects are created, but the process runs into problems at the end creating cycle and final objects. I have copied the error below.

The same run works fine on an Intel Mac and creates all objects appropriately.

I have tried working in different folders and allowing full disk acc

[2022-08-31 21:14] Siel commented on #91
Hi @richwilson17 , which version of Pmetrics are you using?

[2022-09-01 08:46] richwilson17 commented on #91
Hi Siel, 1.9.7

[2022-09-01 18:53] Siel commented on #91
That is an issue with some functions that got deprecated in Pmetrics 1.9.7. I think we solved that issue some weeks ago but didn't icrease the version number.

Could you reinstall Pmetrics 1.9.7 using `devtools::install_github("LAPKB/Pmetrics")` or switch to Pmetrics 2.0 using `devtools::install_github("LAPKB/Pmetrics@Version2")` and report back?

Thank you!

[2022-09-04 18:31] Siel commented on #87
Fixed the prublem and pushed it to a new branch to further testing.

I'm closing the issue. Please feel free to re-open if you're still having some errors.

[2022-09-04 18:31] #87 closed, assigned to Siel

[2022-09-06 09:30] richwilson17 commented on #91
Hi Siel. Reinstall 1.9.7 and successful build is presenting the same error. Switch to 2.0 is causing a new problem with gfortran which I'm not sure how to fix? Is there a change to where 2.0 looks for gfortran

<hr>

Pmetrics cannot find required compiled binary files.
Pmetrics cannot detect gfortran and will attempt to download and install all components.

<hr>

I am running a manual install of G

[2022-09-06 14:16] Siel commented on #91
@richwilson17 , could you paste the full error message please?

That message is normal, it will happen every time you install Pmetrics. If you’re on windows closing and opening again R studio should help (windows has problems picking up the right path for gfortran)

[2022-09-07 10:42] richwilson17 commented on #91
OK, thanks Siel. 1.9.7 is able to find it and builds fine. I'm running macOS on Apple silicon. Full error message below from 2.0. Have tried restarting R and OS. And reinstalling the package.

<hr>

Downloading GitHub repo LAPKB/Pmetrics@Version2
✔  checking for file ‘/private/var/folders/tc/g307kcxd3533dz2ftn9qczqm0000gn/T/RtmpTkYiZU/remotes36f27879dca/LAPKB-Pmetrics-479eaf8/DESCRIPTION’ ...
─  p

[2022-09-08 19:51] Siel commented on #91
Hi @richwilson17 , actually I'm not seeing any error in the logs you pasted here, it looks fine for a Version2 install

[2022-09-08 20:27] Siel commented on #84
I just implemented this functionality here: https://github.com/LAPKB/Pmetrics/blob/96e786d770a0f305f2068b5b0693dc1280e48056/R/PMrun.R#L184

Please let me know if it works as you intended.

Thanks!

p.s: I'll close the issue, please feel fre to re-open if that is the case.

[2022-09-08 20:27] #84 closed, assigned to Siel

[2022-09-14 13:55] richwilson17 commented on #91
Hi @Siel. Does pmetrics 2.0 need the Homebrew package manager etc installing? The problem I have is that gfortran is already installed but PMbuild() can't locate it "cannot detect gfortran" and won't progress. I wasn't sure if I should be downloading Homebrew etc in addition to the one I have which seems to work fine for 1.9.7 - https://github.com/fxcoudert/gfortran-for-macOS/releases. Apologies i

[2022-09-15 07:42] mhovd commented on #56
This error also occurs on the example dataset in Pmetrics, `mdata.1`.

[code]

[2022-09-15 15:47] mnneely commented on #56
Yes, NCA is one of the more fragile functions. There are so many ways to break it due to the infinite range of data possibilities. We haven’t arrived at the $nca() update yet as we work to release Version 2. If it is urgent, please feel free to have a crack at it, as I know you are an expert coder. The function is in the makeNCA.R file in the repository. makeAUC has already been updated, so in thi

[2022-09-15 20:52] Siel commented on #91
Hi @richwilson17 , The code to recognize fortran and to execute PMbuild() is exactly the same one on 1.9.7 and 2.0. That is the reason its weird that you're getting an error on 2.0. The only thing that crosses my mind is if you're using a ARM mac (M1 or M2), in that case it might happen that your rosetta environment is not grabbing the right path for gfortran

[2022-10-04 14:09] richwilson17 commented on #91
Hi @Siel. I removed the fxcoudert gfortran release and installed gcc via Homebrew. Pmetrics 2.0 builds fine and completes NPAG successfully. Posting in case anyone else runs into same problems during transition! Thanks again.

[2022-10-17 10:06] mhovd commented on #58
@Siel, could this fix be applied to the legacy version in the `main` branch as well?

[2022-10-18 14:40] Siel commented on #91
@richwilson17 Thanks for reporting back. I'm closing this issue.

[2022-10-18 14:40] #91 closed, assigned to nobody

[2022-10-18 18:16] Siel commented on #58
hi @mhovd, yes. Actually we just released 2.0. So the fix is in the main branch.

[2022-10-20 16:17] #39 closed, assigned to nobody

[2022-10-20 16:22] #77 closed, assigned to nobody

[2022-10-20 16:22] #76 closed, assigned to nobody

[2022-10-20 16:22] #74 closed, assigned to nobody

[2022-10-20 16:23] #73 closed, assigned to nobody

[2022-10-20 16:24] #72 closed, assigned to nobody

[2022-10-20 16:25] #71 closed, assigned to nobody

[2022-10-20 16:25] #70 closed, assigned to nobody

[2022-10-25 20:41] sharovaa opened #107 "PMtest() error"
After successful download of Pmetrics 2.0.0 and successfully running PMbuild(), PMtest() throws the following error:

Error in -ncol(data) : invalid argument to unary operator
In addition: Warning message:
In data(mdata.1, envir = environment()) : data set ‘mdata.1’ not found

[2022-10-26 13:20] mnneely commented on #107
Thanks for pointing this out. We'll get it fixed in the ongoing beta version which has the latest builds. That is the "v2_dev" branch. It can always be installed using:

`devtools::install_github(“LAPKB/Pmetrics”, ref = “v2_dev”)`

Stay tuned for the fix.

[2022-10-26 13:34] Siel commented on #107
The fix has been uploaded to v2_dev. Could you verify if it is working now? if that is the case, we will proceed to merge it with master in the next couple of days

[2022-10-27 19:51] sharovaa commented on #107
Yes, it's working now! Thank you! I got:

Congratulations; you have successfully installed all components of Pmetrics.

[2022-10-27 19:54] Siel commented on #107
That is great, I'm closing the issue now. This fix will be is scheduled to be released with the next minor patch to Pmetrics.

[2022-10-27 19:54] #107 closed, assigned to nobody

[2022-11-11 07:12] CRquantum opened #110 "MAXGRD, MAXACT may need to be bigger than (2*ndim+1)*nsub"
Just post here before  I forgot.

In NPAG, the number of max grid points (MAXGRD and  MAXACT in npagdriv.f) are 2129, 5003, 10007, ..., until 960252. Those numbers seems are mostly depend on the dimension (ndim) of the problem, not the number of subjects(nsub).

However, I suggest that we may have one more additional check, that is MAXGRD and  MAXACT needs to be equal or bigger than
(2*ndim+1)*nsu

[2022-11-18 19:18] sharovaa opened #114 "MM_opt error"
Running MM_opt throws the following error:

+          model="model58.txt",
+          data= "ov2test.csv",
+          nsamp=1,
+          weight=list(auc=1),
+          predInt=c(41, 47.75, 0.25),
+          outeq=1)

DATA STANDARDIZATION REPORT:

 Data are in full format already.

DATA VALIDATION REPORT:

No data errors found.

FIX DATA REPORT:

There were no errors to fix in you data file.
DATA

[2022-11-19 08:56] mnneely commented on #114
Thanks for pointing out. It was a problem in parsing the model file with fixed gamma/lambda. I believe this is now fixed in the current beta version available in the "v2_dev" branch. Install with devtools::install_github("LAPKB/Pmetrics@v2_dev").

[2022-11-19 08:57] #114 closed, assigned to nobody

[2022-11-19 10:57] mhovd commented on #56
@richwilson17 , a proposed fix was just merged into the LAPKB:v2_dev branch.
Could you install it with `devtools::install_github("LAPKB/Pmetrics", ref = "v2_dev")` and see if your problem persists?

[2022-11-23 12:10] mhovd opened #117 "Argument for predictions until set hours after dose"
Currently, one has to edit the datafile with observations of `-99` at given timepoints in order to generate predictions until that time. I suggest that an option be available in `PM_fit$run()` that will add observations of `-99` for each individual and outeq at the specified time.

E.g. `PM_fit$run(..., tad = 72)` would append the data object with `-99` observations at 72 hours after the last dose

[2022-11-23 12:14] mhovd opened #118 "Add argument to specify run directory in PM_fit"
A great advantage with Pmetrics 2.0 and R6 is that you can specify both datasets and models in R, and thus don't have to rely on copying files. However, whenever `PM_fit$run()` is called, it uses the current working directory.

I suggest an argument in `PM_fit$run()`, e.g. `rundir`, that would take a path as input, and temporarily change the working directory to that directory, before starting the

[2022-11-23 14:30] mhovd opened #120 "Model library in R"
Several models are available in the LAPK [model library](http://www.lapk.org/ModelLib.php).
Would it be possible to have these available in R?
I suggest a library function, e.g. `modelLibrary`, which takes an argument specifying the desired model.
This would further simply the workflow once a dataset has been imported in to R, and I image one could be able to then use
[code]
If needed, one can the

[2022-11-23 14:39] Siel commented on #120
It is feasible. I'm going to start drafting it over a new PR so we can further discuss it.

[2022-11-23 19:44] mhovd opened #123 "Remove bloat following run"
Following a run (Pmetrics 2.0.1), seemingly during the step generating the report, an object is printed to the terminal.
Here is an example:

In R
[code]

Then in the terminal, when the run has finished, the following shows
[code]

It looks like a `final` object, followed by a summary of said object, with reported mean, sd, etc.
This bloat makes it difficult to view the run summary that is otherwi

[2022-11-24 11:01] Siel commented on #123
The initial messages are generated here: https://github.com/LAPKB/Pmetrics/blob/8284592f2fc3d6cd3a4d6b2d9f78c4a587b31a9d/R/PMreport.R#L330

The second print, might be because of: https://github.com/LAPKB/Pmetrics/blob/8284592f2fc3d6cd3a4d6b2d9f78c4a587b31a9d/R/PMreport.R#L365

Should we remove those?

[2022-11-24 11:06] mhovd commented on #123
The information following line 330 is important to keep, as its informative.
But the output of `print(df)` on line 365 can be considered removed. I can try to remove it locally and see if that resolves my issue.

[2022-11-24 11:19] #123 closed, assigned to nobody